
/*
	Font Icon
	------------------------------------------------
*/


$body-font : 'sanchez', 'Teko',  sans-serif;

@font-face {
    font-family: "roboto";
    src: url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');
    font-weight: 200;


}
@font-face {
    font-family: "Teko";
    src: url('https://fonts.google.com/specimen/Teko');
    font-style: normal;
    

}





 
